md-content {
	background-color: #eee;
}
md-card {
	width: 80%;
	background-color: #fff;
}
h2 {
	margin: 16px;
	padding-left: 16px;
}
md-grid-tile {
	background-color: #fff;	
}
del {
	text-decoration: line-through;
	color: #ccc;
}
p.right {
	text-align: right;
}
body {
    position: relative;
}

.score-item:not(:first-child) {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #eee;
  font-size: 18px;
}

.md-button.select-language {
  min-width: 400px;
}
