<!DOCTYPE html>
<meta charset="UTF-8">
<html ng-app="sparrerApp">

	<head>
		<!-- Angular Material Dependencies -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"</script>
		<script src="http://cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

		<link rel="stylesheet" href="assets/style.css">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"</script>
	</head>


	<body layout="column" ng-cloak ng-controller="indexController">

			<md-toolbar layout="row" layout-align="space-between">
				<md-button class="md-primary" aria-label="Settings">
					<md-icon md-svg-icon="menu"></md-icon>
				</md-button>
				<p ng-if="pointService.score != undefined">Norwegian Grammar Scrabble - {{ ts.points_string() }} {{ pointService.score }}</p>
				<p ng-if="pointService.score == undefined">Norwegian Grammar Scrabble</p>
				<div></div>
			</md-toolbar>

			<md-content
				ng-view
				flex
				md-scoll-y
				score="score">
			</md-content>

		<!-- Source code dependencies -->
		<script src="./src/sparrerApp.js"></script>
		<script src="./src/translationService.js"></script>
		<script src="./src/pointService.js"></script>
		<script src="./src/indexController.js"></script>
		<script src="./src/playController.js"></script>
		<script src="./src/startController.js"></script>
	</body>

</html>

